* {
  box-sizing: border-box;
}
.border {
    display:inline-block;
    width:100%;
    margin: 6px;
    padding: 15px 7px 15px 7px;
    border-color: hsl(10, 10%, 10%);
  }
th{
  padding: 2px 15px 2px 15px;
}
textarea{
  height: 900px;
}
.container-fluid{
  padding-top: 50px;
  padding-bottom: 70px;
}
.col-sm-8{
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: hsl(10, 10%, 10%);
}
input[type=text]{
  width: 100%;
}
input[type=password]{
  width: 100%;
}